.nav {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding-top: .2rem;
}

.nav__link {
    width: 7rem;
    text-align: center;
    text-decoration: none;
    padding: .5rem;
}

.nav__link:active,
.nav__link:hover {
    color: #0000ff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.nav__fontawesome {
    width: 1rem;
    height: 1rem;
}

.nav__span {
    margin-left: .5rem;
}